.countries-list {
    padding: 1em;
}

.card {
    padding: 0.5em;
    width: 350px;
    margin: 0.5em;
    border-radius: 10px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: black;
}

.card img {
    width: auto;
    height: 120px;
}

.card h2 {
    width: auto;
    margin-left: 0.5em;
}

.country-cards {
    display: flex;
    flex-wrap: wrap;
}