.NavBar {
    background-color: #F5F5F5;
    height: 64px;
    /* padding-left: 1em; */
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    padding: 0 1rem;
}

.NavBar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-link {
    display: block;
    padding: 5px 5px 0px 3px;
    border-radius: 5px;
}
.NavBar ul a {
    height: 100%;
    color: inherit;
    text-decoration: none;
}

#search-button {
    margin-left: 10px;
}
/* .active class gibt es von haus aus, wird aufgerufen, wenn ein navlink actie ist */
ul a.active {
    background-color: #C1C1C1;
}
